   /* Top section */
   
   .name-highlight {
       color: orange;
   }
   
   .navbar-brand {
       margin-bottom: auto;
   }
   
   .nav-item {
       padding: 0px 20px;
       font-size: 17px;
   }
   
   .navbar-brand img {
       margin-left: auto;
   }
   /* Middle part */
   
   main {
       font-family: 'Roboto', sans-serif;
       ;
   }
   
   .panda-card-footer {
       border: 0;
   }
   
   .panda-card-footer img {
       height: 30px;
   }
   
   .btn-primary-rounded {
       border-radius: 20px;
       text-decoration: white;
       font-size: 20px;
       height: 50px;
       background-color: peru;
       padding: 3px;
   }
   
   .btn-primary-rounded:hover {
       background-color: cadetblue;
   }
   
   .casual-shoes-part,
   .formal-shoes-part {
       color: orange;
   }
   
   .img-resize-1 {
       width: 100%;
   }
   /* /Last part/Footer section */